<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bo.project.mapper.SysLogMapper">

    <!-- 获取分页数据 -->
    <select id="pageList" resultType="cn.bo.project.entity.SysLog" parameterType="cn.bo.project.entity.SysLog">
        select
        *
        from sys_log
        <where>
            <if test="param.logType!=null">
                and log_type = #{param.logType}
            </if>
        </where>
    </select>

</mapper>